<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeti - <%- nombrePagina %></title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/trix.css">
</head>
<body>
    <header class="contenedor site-header">
        <a href="/"><img src="/img/logo.png" alt=""></a>
        <nav class="nav">
            <a href="#">Crear Grupo</a>
            <a href="/iniciar-sesion">Iniciar Sesión</a>
            <a href="/crear-cuenta">Registrarse</a>
        </nav>
    </header>
    
    <% if(locals.mensajes){ %>
        <% const categoria = Object.keys(locals.mensajes); %>
        <% if(categoria.length){ %>
            
            <% locals.mensajes[categoria].forEach( alerta => { %>
                <div class="alertas">
                    <p class="alerta <%= categoria %>"><%= alerta %></p>
                </div>
            <% }); %> 

        <% } %>  
    <% } %> 

    <%- body %>

    <footer class="contenedor site-footer">
        <a href="/"><img src="/img/logo.png" alt=""></a>
        <nav class="nav">
            <a href="#">Crear Grupo</a>
            <a href="/iniciar-sesion">Iniciar Sesión</a>
            <a href="/crear-cuenta">Registrarse</a>
        </nav>
        <p class="copyrigth">Todos los derechos reservados - Meeti <%- year %> &copy;</p>
    </footer>

    <script src="/js/trix.js"></script>
</body>
</html>